header
{
  position: relative;
}
button
{
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
body
{
    margin:0;
    font-family: 'Allerta', sans-serif;
}
.title-A
{
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 70px;
}
.title-b
{
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;


}
.parrafo-A{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10;
}
.guitarras
{
  color: #254d74;

}
.guitarras h2
{
  font-size: 35px;
}
.portada
{
  background-image: url("Img/background.png");

  color: white;
  padding: 20px;

}
.menu
{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
  top:25px;
}
.menu li
{
  display: inline-block;
  margin-left: 30px;
}
.logotipo
{
  display: inline-block;
}
.btnConoceMas
{
  margin-bottom: 70px;
}
.title-c
{
  margin-bottom: 10px;

}
.guitarra-1 ol {
  margin-top: 10px;
}
.guitarra-2 ol {
  margin-top: 10px;
}
.contenedor
{
  width: 800px;
  margin: auto;
}
.guitarra-1 img
{
  float: right;
  position: relative;
  top: -167px;
}

.guitarra-2 img
{
  float:left;
  position: relative;
  top: 57px;
}
.guitarra-1
{
  padding: 52px;
  margin: 10px;
  /*overflow:hidden;*/
  border: 1px solid #254d74;
  border-radius: 10px;

}
.guitarra-2
{ padding: 10px;
  margin: 10px;
  /*overflow: hidden;*/
  border: 1px solid #254d74;
  border-radius: 10px;
}
.contenedoguitarraB
{margin-left: 390px;}

.test{}
.footer
{
    background-color: #273b47;
}
